/* Health Benefits Styles */
.body-container{
    background-color: var(--fg-color);
    font-size: 1em;
}

.body-container>h1 {
    font-size: 1.5vw;
    text-align: center;
    background-color: var(--green);
    color: var(--bg-color);
    padding: 5px 0;
}

.health-benefits-container {
    width: 90%;
    margin: 20px auto;
}

.health-benefit {
    margin-bottom: 50px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 300px;
}

.health-benefit img {
    max-width: 35%;
    min-width: 500px;
    height: 300px;
    border-radius: 8px;
    margin-right: 20px;
    border-radius: 5%;
}

.health-benefit-content {
    margin-top: 20px;
    width: 60%;
    position: relative;
}

.health-benefit-content h2 {
    color: #333;
}

.health-benefit-content p {
    margin-top: 5px;
    color: #666;    
    display: -webkit-box;
    -webkit-line-clamp: 8; /* Adjust the number of lines to show */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.more-btn {
    background-color: var(--green);
    padding: 5px 10px;
    position: absolute;
    bottom: 0;
    border: none;
    color: var(--fg-color);
    font-weight: bold;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
}

.more-btn:hover {
    background-color: var(--hover_color);
    box-shadow: 0 0 5px 3px var(--hover_color);
    color: var(--bg-color);
}

.content-bio {
    text-align: right;
    font-size: 0.8em;
    color: var(--green);
}