@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
    margin:0;
    padding:0;

}

:root{
    --font-family: 'Raleway', sans-serif;
    --font-color: rgb(0, 0, 0);
    --fg-color: rgb(238,238,238);
    --bg-color: white;
    --hover_color: rgb(22, 22, 111);
    --transition-duration: 600ms;
}

body{
    font-family: var(--font-family);
    color: var(--font-color);
    background-color: var(--bg-color);
    word-spacing: 3px;
    letter-spacing: 0.5px;
    font-size: 1em;
    overflow-x: hidden;
}

a{
    color: black;
    text-decoration: none;
    position: relative;
    padding: 5px 0;
    transition: linear var(--transition-duration);
}

a:hover {
    color: var(--hover_color);
}

.bar::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3.5px; /* Border thickness */
    border-radius: 5px;
    background-color: var(--hover_color); /* Border color */
    bottom: 0;
    left: 50%; /* Start from the center */
    transform: translateX(-50%);
    transition: width var(--transition-duration) ease; /* Transition for smooth effect */
}

.bar:hover::before {
    width: calc(100% + 18px); /* Expand to cover the corners */
}

ul{    
    list-style-type: none;
}

p{
    line-height: 1.5;
    text-align: justify;
}

p::before{
    content: ' ';
    margin: 2vw;
}

.main-header{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vw;
    position: sticky;
    top:0;
    background-color: var(--bg-color);
    font-weight: bold;
    z-index:10;
}

.main-header section:first-child{
    height: 100%;
}

.header-std_txt_img{
    height: 100%;
}

.nav-links-wrapper{
    display: flex;
    flex-direction: row;
}

.nav-links-wrapper>li{
    margin: 0 1.5vw;
}

.header-dropdown{
    position: relative;
    cursor: pointer;
}

.account-menu,
.basket-menu {
    position: absolute;
    top: 120%;
    left: 0;
    text-wrap: nowrap;
    font-size: 1vw;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: -1;
    opacity: 0;
    transition: opacity var(--transition-duration);
}

.header-dropdown:hover .account-menu ,
.header-dropdown:hover .basket-menu {
    opacity: 1;
    z-index: 3;
}

#search-icon-btn {
    position: relative;
    margin: 20px;
}

#search-icon-btn>label{
    cursor: pointer;
}

#search-toggle {
    display: none;
}

#search-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 50px;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.search-container {
    display: flex;    
}

#search-box {
    cursor: pointer;
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.search-button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

#search-toggle:checked + label + #search-dropdown {
    display: block;
}


.footer-container {
    background-image: linear-gradient(rgba(182, 182, 182, 0.79),rgba(0, 0, 0, 0.803) 80%), url("../img/footer_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    color: var(--fg-color);
    padding: 20px; /* Add padding for better spacing */
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.footer-section-img-wrapper{
    align-self: center;
}

.footer-section {
    text-align: left;
    margin: 10px;
}

.footer-section-img-wrapper img {
    max-width: 200px; /* Adjust the size of the logo */
}

.footer-section h3 {
    color: var(--fg-color);
    margin-bottom: 10px;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a{
    color: var(--bg-color);
}

.footer-section a:hover{
    color: var(--hover_color)
}

.footer-bottom {
    text-align: center;
    background-color: black;
    color: var(--fg-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 7px;
}

/* desk items */
.desk-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.desk-items>section{
    margin: 20px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.desk-items img{    
    width: 300px;
    height: auto;
}

.image-container{
    max-width: 300px;
    height: 280px;
    overflow: hidden;
}

.desk-info{
    text-align: center;
}

.price-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    place-items: center;
    height: 100px;
    background-color: var(--fg-color);
    grid-gap: 10px;
    padding: 10px;
}

.price{
    color: red;
    font-weight: bold;
}

.desk-content {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Adjust the number of lines to show */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    grid-column: span 2;
    font-size: 0.9em;
}

.desk-content::before{
    margin: 10px;
}

.review-star>span{
    font-size:1em;
}

.review-star>span {
    fill: blue;
    color: blue;
    /* background-color: blue;; */
}
