@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
    margin:0;
    padding:0;

}

:root{
    --font-family: 'Raleway', sans-serif;
    --font-color: rgb(0, 0, 0);
    --fg-color: rgb(240, 240, 240);
    --bg-color: white;
    --hover_color: rgb(22, 22, 111);
}

body{
    font-family: var(--font-family);
    color: var(--font-color);
    background-color: var(--bg-color);
    word-spacing: 3px;
    letter-spacing: 0.5px;
    font-size: 1em;
}

a{
    color: var(--font-color);
    text-decoration: none;
    position: relative;
    padding: 5px 0;
}

a:hover{
    color: var(--hover_color);
}

.bar::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3.5px; /* Border thickness */
    border-radius: 5px;
    background-color: var(--hover_color); /* Border color */
    bottom: 0;
    left: 50%; /* Start from the center */
    transform: translateX(-50%);
    transition: width 0.5s ease; /* Transition for smooth effect */
}

.bar:hover::before {
    width: calc(100% + 18px); /* Expand to cover the corners */
}

ul{    
    list-style-type: none;
}

.main-header{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
    position: sticky;
    top:0;
    background-color: var(--bg-color);
    font-weight: bold;
    z-index:10;
}

#std_logo{
    height: 100%;
}

.nav-links-wrapper{
    display: flex;
    flex-direction: row;
}

.nav-links-wrapper>*{
    margin: 0 1.5vw;
}

#search-icon-btn{
    margin:20px;
}

.first-container{
    position: relative;
}

.intro-wrapper{
    float: left;
    width: 50%;
}

.std_img-wrapper{
    width: 300px;
    height:300px;
    transform: rotate(45deg);
    display: inline-block;
    /* grid-template-columns: auto auto; */
    background-color: blue;
    position: relative;
    /* overflow: hidden; */
}

.std_img{
    width: 200px;
    transform: rotate(-45deg);
}