/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap'); */

*{
    margin:0;
    padding:0;

}

:root{
    --font-family: 'Raleway', sans-serif;
    --font-color: rgb(0, 0, 0);
    --fg-color: rgb(238,238,238);
    --bg-color: white;
    --hover_color: rgb(22, 22, 111);
    --transition-duration: 600ms;
}

body{
    font-family: var(--font-family);
    color: var(--font-color);
    background-color: var(--bg-color);
    word-spacing: 3px;
    letter-spacing: 0.5px;
    font-size: 1em;
}

a{
    color: var(--fg-color);
    text-decoration: none;
    position: relative;
    padding: 5px 0;
    transition: linear var(--transition-duration);
}

a:hover{
    color: var(--hover_color);
}

.bar::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3.5px; /* Border thickness */
    border-radius: 5px;
    background-color: var(--hover_color); /* Border color */
    bottom: 0;
    left: 50%; /* Start from the center */
    transform: translateX(-50%);
    transition: width var(--transition-duration) ease; /* Transition for smooth effect */
}

.bar:hover::before {
    width: calc(100% + 18px); /* Expand to cover the corners */
}

ul{    
    list-style-type: none;
}

p{
    line-height: 1.5;
    text-align: justify;
}

p::before{
    content: ' ';
    margin: 2vw;
}

.main-header{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
    position: sticky;
    top:0;
    background-color: var(--bg-color);
    font-weight: bold;
    z-index:10;
}

.main-header section:first-child{
    height: 100%;
}

.header-std_txt_img{
    height: 100%;
}

.nav-links-wrapper{
    display: flex;
    flex-direction: row;
}

.nav-links-wrapper>li{
    margin: 0 1.5vw;
}

.nav-links-wrapper>li>a{
    color: black;
}

#search-icon-btn{
    margin:20px;
    
}

.footer-container {
    background-image: linear-gradient(rgba(182, 182, 182, 0.79),rgba(0, 0, 0, 0.803) 80%), url("../img/footer_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    color: var(--fg-color);
    padding: 20px; /* Add padding for better spacing */
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.footer-section {
    text-align: left;
}

.footer-section img {
    max-width: 200px; /* Adjust the size of the logo */
}

.footer-section h3 {
    color: var(--fg-color);
    margin-bottom: 10px;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-bottom {
    text-align: center;
    background-color: black;
    color: var(--fg-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 7px;
}
